*.exe
*.o
*.i
*.elf
*.1bpp
*.4bpp
*.8bpp
*.DS_Store
*.bak
*.bat
*.diff
*.dump
*.elf
*.exe
*.fwjpnfont
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vs*/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
*.idb
*.id0
*.id1
*.id2
*.nam
*.pcm
*.pl
*.s.old
*.s.old2
*.sa*
*.swo
*.swp
*.til
.fuse*
dist/
cmake-build-*
ld_script_ruby.txt
ld_script_sapphire.txt
src/data/items.h
src/data/wild_encounters.h
src/data/region_map/region_map_entries.h
src/data/region_map/region_map_entry_strings.h
src/data/region_map/porymap_config.json
tags
tools/binutils
types_*.taghl
!.github/calcrom/calcrom.pl
!sound/programmable_wave_samples/*.pcm
_Deparsed_XSubs.pm
*.ini
upr.jar
